<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>

</head>
<body>

<div class="row" align="right">
    
    <div class="col-12 success" align="right">
       <img width=50% src="https://cambridgeinhebrew.com/media/Gallery/2018/12/Cambridge_Kings_college.jpg">

       <h3>שלום {{first_name}}</h3>
       <p>
       תודה שנרשמתם לקבלת המדריך שלי לקיימברידג 🎧
      
      </p>
      <h3>
          <a href="{{link_free}}">הכניסה למדריך בלחיצה על הקישור</a>
        </h3>
      <p>
          !עצרו רגע
      </p><p>
          ?למה לא לשדרג ולהנות מהטיול שלכם הרבה יותר
    </p><p>
       רכשו עכשיו את הסיור המלא
      המציע לכם חוויה מעמיקה יותר עם המלצות ואתרים שנבחרו מניסיון אישי
    </p><p>
      כך תוכלו לחסוך זמן וטרחה ולהנות מהעיר בצורה הטובה ביותר
    </p>
    <h3>  ?מה כולל הסיור המלא</h3>
  </div>
  <div class="col-12 success" align="right">

    <p>
         <b>סיור מעגלי בעשר נקודות מומלצות לביקור:</b> אתרים שהם בגדר חובה עם הסברי שמע בכל נקודה   
         <br>
        <b>המלצות:</b> ללינה, מסעדות וחנויות  איכותיות
        <br>
        <b>טיפים חשובים:</b> דרכי תחבורה, מזג אוויר ועוד
        <br>
        <b>נקודות צילום</b> מושלמות לאינסטגרם
        <br>
        <b>מפת גוגל</b> עם ציוני מקום
        <br>
    
   
    </p>
      <h3><b>?למי מתאים הסיור</b></h3>
      <p>
      החל מגיל 10 ילדים מוצאים את הסיור הזה מעניין. שילוב של הליכה בחוץ במדשאות, גשרים לאורך הנהר וקולג’ים עתיקים בסגנון
      הארי פוטר    </p>
    <p>
      למבוגרים הסיור מעניין מאד, ההליכה היא מישורית אך יכולה להיות ארוכה למי שמתקשה בהליכה. אין אפשרות לשלב תחבורה במהלך המסלול
    </p>
    <h3><b>
        !הצטרפו אלי לחוויה בלתי נשכחת בעיר
    </b></h3>
      <p><b>
      וכל זאת {{payment}} פאונד בלבד
      הקישור לסיור תקף {{last_day}} יום מרגע הרכישה
      </b></p>
<h3>
      <a href="{{link}}">לחצו כאן לרכישת הסיור המלא</a>
    </h3>
      <p>בברכה</p>
     <p>יעל גתי</p>
      
    </div>
</div>

</body>
</html>
