<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>

</head>
<body>

<div class="row" align="right">

    <div class="col-12 success" align="right">
      <img width=50% src="https://cambridgeinhebrew.com/media/Gallery/2018/12/Cambridge_Kings_college.jpg">
      <h2>לצערנו הסיור מבוטל</h2>
      <h3><font color="blue">סיבת ביטול</font></h3>
      <p>{{client.admin_comment}}</p>
      
      
      <p class="lead"><strong>שם: {{client.first_name}} {{client.last_name}}</strong></p>
      <p class="lead">סוג הסיור: {{trip_type}}</p>
      <p> בתאריך {{trip_date|date:'d.m.Y' }}</p>
      <p>  בשעה {{trip_time|date:'H:i'  }}</p>
      
      <p>במידה ושילמתם מקדמה כספכם יוחזר לכם בזמן הקרוב</p>
     
      <hr>
      
      
 </div>    
</div>

</body>
</html>
