<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>

</head>
<body>

<div class="row" align="right">
    
    <div class="col-12 success">
       <img width=50% src="https://cambridgeinhebrew.com/media/Gallery/2018/12/Cambridge_Kings_college.jpg">
      <h3>שלום יעל</h3>
      <p>מישהו מתעניין בסיור</p>
      <p class="lead"><strong> שם:  {{first_name}} {{last_name}}</strong></p>
     
      <p> {{email}} דואל: </p>
      <p>מספר פניה במערכת:  {{id}}</p>
       <hr>
      <p>הודעה</p>
     <div calss="row"></div>
       <p> {{text}}</p>
      <div class="space">
      </div>
      </p>
      
    </div>
</div>

</body>
</html>
