<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>

</head>
<body>

<div class="row" align="right">

    <div class="col-12 success" align="right">
      <img width=50% src="https://cambridgeinhebrew.com/media/Gallery/2018/12/Cambridge_Kings_college.jpg">
      <h3><font color="blue">קיימברידג' בעברית</font></h3>
      <h3><font color="blue">{{emailTitle}}</font></h3>
      
      <p>{{client.admin_comment}}</p>
       <p class="lead"><strong>שם: {{client.first_name}} {{client.last_name}}</strong></p>
      <p class="lead">סוג הסיור: {{client.trip.ourTour.title}}</p>
      <p> נשמח לראותכם ביום {{day_in_hebrew }}</p>
      <p> בתאריך {{client.trip.trip_date|date:'d.m.Y' }}</p>
      <p>  בשעה {{client.trip.trip_time|date:'H:i'  }}</p>
      
      <p>מספר מטיילים: {{client.number_of_people}}</p>
       {% if print_children %}
      <p>מספר ילדים: {{client.number_of_children}}</p>
      {% endif %}
     
       <p>טלפון בזמן הטיול: {{client.phone_number}}</p>
         <p> {{client.email}} :דוא"ל</p>
       <p>הערות:</p>  
       <p>{{client.text}}</p>
      <hr>
      {% if NotFree %}
      <p>אל דאגה - אנחנו נשלח אליכם מייל תזכורת יום  לפני הסיור בשעה 11:00</p>
      {% else %}
      <p>שימו לב - כדי למנוע מצב שהמדריכה מחכה ללקוח שאינו מגיע אנחנו ניצור איתכם קשר יום לפני הסיור ונבקש אישור הגעה נוסף, במידה ולא נקבל אישור השתתפותכם בסיור תבוטל.</p>
      <p>{{client.text}}</p>
      {% endif %}
      <hr>
      <p>(** שם המדריכה  שלכם  {{ client.trip.guide.first_name }}  {{ client.trip.guide.last_name }} (מכותבת למייל</p>
      <p>מספר הטלפון של {{ client.trip.guide.first_name }} : {{ client.trip.guide.phone }} </p>
      
      {% if client.trip.location.text_html_style is True %}
            {{ client.trip.location.text |safe}}
        {% else %}
            {{ client.trip.location.text |linebreaks }}
        {% endif %}
      
      <div class="space"></div>
      {% if NotFree %}
      <p>נתקבל תשלום של {{client.pre_paid}}
    פאונד
      </p>
      <p>יתרה לתשלום {{more_to_pay}}
       פאונד
      </p>
      {% else %}
      <p> הסיור מבוסס על טיפים לפי שביעות רצונכם</p>
      {% endif %}
      </div>
       <hr>
      </p>
      <p>
      אם רוצים לשנות את יום הסיור אפשר להודיע 3 ימים לפני.<br>
לעידכונים והודעות ניתן לשלוח מייל<br>
 cambridgeinhebrew@gmail.com
 </p>
  
 <p>
     עקבו אחרנו בפייסבוק
<br>         www.facebook.com/cambridgeinhebrew/ 
 </p>
 <p>
     ובאינסטגרם
<br>         https://www.instagram.com/cambridgeinhebrew
 </p>
 <h3>נתראה בסיור </h3>
 <h3>יעל גתי</h3>
   <hr> 
      
   {% if client.trip.instruction %}
   
   
   
    {% if client.trip.instruction.text_html_style is True %}
      {{ client.trip.instruction.text |safe}}
    {% else %}
      {{ client.trip.instruction.text | linebreaks }}
    {% endif %}
  {% endif %}

    
</div>

</body>
</html>
