<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>

</head>
<body>

<div class="row" align="right">

    
    <div class="col-12 success">
      <img src="http://cambridge.django.group/media/Gallery/2018/12/tree.jpg">
      <h3>הנה זה הגיע</h3>
      <p class="lead"><strong> שלום {{first}} {{last}}</strong></p>
      <hr>
      <p>מחר בתאריך {{trip_date}}</p>
      <p>בשעה {{trip_time}}</p>
      <div class="space">
      </div>
      </p>
      
    </div>
</div>

</body>
</html>
