<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>

</head>
<body>

<div class="row" align="right">

    <div class="col-12 success" align="right">
      <img width=50% src="https://cambridgeinhebrew.com/media/Gallery/2018/12/Cambridge_Kings_college.jpg">
      <h3><font color="blue"> הי {{client.first_name}}</font></h3>
      <h3><font color="blue"> איזה כיף הסיור שלנו מחר</font></h3>
      
      <p >אנו מזכירים לך להגיע בשעה {{trip_time|date:"H:i"}} למוזיאון הפיצווילאמס בקיימברידג׳</p>
      <p>:כתובת</p>
      <p class="lead">The Fitzwilliam Museum</p>
      <p>Trumpington St, Cambridge CB2 1RB</p>
     
       <p> אנא זיכרו להביא איתכם כסף מזומן כדי לשלם למדריך את יתרת התשלום {{more_to_pay}} פאונד</p>
       <hr>
     
       <p>טלפון בזמן הטיול: {{client.phone_number}}</p>
       <p> {{client.email}} :דוא"ל</p>
       <p>מידע נוסף</p>  
       <p>{{client.text}}</p>
      <hr>
      <p>(**שם המדריכה  שלכם יעל רימון (מכותבת למייל</p>
       <p>מספר הטלפון של יעל: 07305317171</p>
      <hr>
      
      <h2>הוראות הגעה ברכבת מלונדון</h2>
      <p><strong>לעיתים יש שינויים בזמני הרכבות, שימו לב לשעות כשאתם מגיעים לתחנה</strong></p>
 
 <p> CBG עלו על רכבת שיוצאת  ב9:42 מתחנת קינגס קרוס בלונדון אל קימברידג<br> (ולא קיימברידג׳ צפון)</p>
 <p>משך הנסיעה 50 דקות.</p>
 <p><u>בבקשה אל תאחרו, תכננו לעצמכם מינימום הגעה לתחנה של חצי שעה מראש</u></p>
<p>*ישנה עוד רכבת בשעה 10:04 בבקשה אל תעלו עליה כי היא רכבת מאספת ותגיעו לכאן רק ב11:30</p>
 <p><strong> :קניית הכרטיסים לרכבת</strong></p>

<p>
אם אתם מעל 3,
מומלץ לרכוש את הכרטיסים בקופת הכרטיסים ברכבת<br>
תבקשו כרטיס קבוצתי (מעל 3 זה קבוצה),זהו המחיר המשתם ביותר<br>
אני לא ממליצה לרכוש כרטיסים מראש באף אתר<br>
כדאי להגיע קצת לפני כי לפעמים יש תור בקופה 
      </p>
 
 <p>לאחר מכן, מונית מתחנת הרכבת בקיימברידג׳ לנקודת המפגש משך נסיעה של 7 דקות</p>
 
 <p>עלות לזוג 5-6 פאונד, מ3 אנשים יגבו מכם 3 פאונדים נוספים</p>
      
</div>
    
</div>

</body>
</html>
