<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>
 
</head>
<body>

<div class="row" align="right">
    
    <div class="col-12 success" align="right">
       <img width=50% src="https://cambridgeinhebrew.com/media/Gallery/2018/12/Cambridge_Kings_college.jpg">

       <h3>שלום {{first_name}}</h3>
       <p>
       תודה שנרשמתם לקבלת המדריך שלי לקיימברידג 🎧
      
      </p>
      
      <p>
          יש לנו הצעה מיוחדת עבורכם
         </p> <p>
            ?למה לא לשדרג ולהפוך את הביקור לחוויה מושלמת
         </p> <h4>
          קבלו את הסיור הדיגיטלי המלא בהנחה של 30% למשך 24 שעות
         </h4>        <p><b>
       
             המחיר הרגיל 20 פאונד ועכשיו -> 14 פאונד בלבד  &#x23F0;
</b></p> <p>
CIH30 קוד קופון ל24 שעות
</p> <p>

    <a href="{{link}}" target="_blank"
    style="background-color:#124789;
           color:#ffffff;
           border:2px solid #124789;
           padding:10px 20px;
           font-size:16px;
           font-weight:bold;
           border-radius:6px;
           text-decoration:none;
           display:inline-block;">
   לחצו כאן לרכישת הסיור המלא
 </a>
 
  
             </p>

 <p>
       רכשו עכשיו את הסיור המלא
      המציע לכם חוויה מעמיקה יותר עם המלצות ואתרים שנבחרו מניסיון אישי
    </p><p>
      כך תוכלו לחסוך זמן וטרחה ולהנות מהעיר בצורה הטובה ביותר
    </p>
    <h3>  ?מה כולל הסיור המלא</h3>
  </div>
  <div class="col-12 success" align="right">

    <p>
         <b>סיור מעגלי בעשר נקודות מומלצות לביקור:</b> אתרים שהם בגדר חובה עם הסברי שמע בכל נקודה   
         <br>
        <b>המלצות:</b> ללינה, מסעדות וחנויות  איכותיות
        <br>
        <b>נקודות צילום</b> מושלמות לאינסטגרם
        <br>
        <b>מפת גוגל</b> עם ציוני מקום
        <br>
       
    </p>
     
    <h3><b>
        !הצטרפו אלי לחוויה בלתי נשכחת בעיר
    </b></h3>
          <a href="{{link}}" target="_blank"
        style="background-color:#124789;
               color:#ffffff;
               border:2px solid #124789;
               padding:10px 20px;
               font-size:16px;
               font-weight:bold;
               border-radius:6px;
               text-decoration:none;
               display:inline-block;">
       לחצו כאן לרכישת הסיור המלא
     </a>
     <p>
     <a href="{{link_free}}">הכניסה למדריך לדוגמא בלחיצה על הקישור</a>
    </p>
    </div>
</div>

</body>
</html>
