<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>
 <style type="text/css">
 .btn-tour {
    
    background-color: Transparent;
    border: 2px solid #124789!important;
    color:     #124789;
    text-align: right;
    margin-bottom: 0.2rem!important;
    margin-right: 0rem!important;
    margin-top: 0.2rem!important;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn-tour:hover {

    background-color: #124789;
    border: 1px solid #124789;
    color:     white;
    text-align: right;
    
}

.space {
    margin:2rem;
}

 
 </style>
</head>
<body>

<div class="row" align="right">

    <div class="col-12 success" align="right">
      <img width=50% src="https://cambridgeinhebrew.com/media/Gallery/2018/12/Cambridge_Kings_college.jpg">
      <h3><font color="blue"> שלום {{first_name}}</font></h3>
      <h3><font color="blue"> 'תודה רבה שטיילתם איתנו בקיימברידג</font></h3>
      <h3><font color="blue"> !מקווים שנהנתם  </font></h3>
      
      <h2 class="lead">  ?האם אפשר לגזול רגע מזמנך ולבקש ממך כתיבת המלצה</h2>
      <h2 class="lead">   אנחנו עסק קטן וזה מאד יעזור לנו להפיץ את הבשורה</h2>
       <h2 class="lead">  נשמח להמלצה באחד או בכל בלינקים למטה, זה לוקח רק רגע אחד</h2>
       <hr>
       <div class="row space" align="right">
      <a href="https://www.google.com/search?client=firefox-b-d&biw=979&bih=469&ei=QIaBXP_vDpPqxgOni6OoBg&q=cambridgeinhebrew&oq=cambridgeinhebrew&gs_l=psy-ab.3..35i39l2j0i13l2j0i13i30l3j0i8i13i30l3.10047.12389..12823...0.0..0.102.190.1j1......0....1..gws-wiz.......35i304i39j0i7i30.ZN28jQt7bgQ#lrd=0x47d87a7ea20da875:0x64c3844eab8c8c69,3,,," class="btn btn-tour ">בגוגל</a> 
      </div>
       <div class="row space" align="right">
      <a href="https://www.tripadvisor.co.uk/Attraction_Review-g186225-d9806790-Reviews-Cambridge_in_Hebrew-Cambridge_Cambridgeshire_England.html" class="btn btn-tour ">Trip Adviser</a>
     </div>
      
     <div class="row space" align="right">
      <a href="https://www.cambridgeinhebrew.com/give_review" class="btn btn-tour ">באתר שלנו</a>
     </div>
    
         
</div>

</body>
</html>
