{% extends 'tour/base.html' %}
{% load static %}

   
	

{% block content %}

   
<div class="container-fluid">
    <div class="row d-sm-flex p-1 bg-light text-dark ">
        <div class="col-md-12 col-lg-7 form">
            <h3>טופס הרשמה</h3>
            <p> סוג הסיור: {{title}}</p>
            <p> תאריך:     {{tripdate}} </p>
            <p> שעה:       {{triptime}} </p>
            
            
            <form action="" method="post" id="payment-form">
                    {% csrf_token %}
                     
                    <table >
                    {{ form.as_p }}
                    </table>
                                   
            <p>אנו מבקשים תשלום של 30 פאונד מקדמה על מנת להבטיח את מקומכם בסיור</p>
            <p>התשלום הוא מאובטח, פרטי כרטיס האשראי אינם נשמרים במערכת</p>
            <p>התשלום מבוצע באמצעות  stripe</p>
            <p>שאר הסכום יגבה בסיור</p>
            <p>במקרה של ביטול בהודעה מראש של 24 שעות לפני המועד, כספכם יוחזר במלואו (למעט עמלות חברת האשראי)</p>
            <p><br></p>

                <div id="collapseStripe" class="wrapper">
                  <label for="card-element" >
                        המשך לתשלום                                                          
                  </label>
                  <div id="card-element" class="StripeElement StripeElement--empty">
                      <div class="__PrivateStripeElement" 
                           style="margin: 0px !important; padding: 0px !important; border: none !important; display: none !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
                          <iframe frameborder="0" 
                              allowtransparency="true" 
                              scrolling="no" 
                              name="__privateStripeFrame3" 
                              allowpaymentrequest="true" 
                              src="https://js.stripe.com/v3/elements-inner-card-67bc65b67d9cba2acc5be9343229cf82.html#style[base][color]=%2332325d&amp;style[base][lineHeight]=18px&amp;style[base][fontFamily]=%22Helvetica+Neue%22%2C+Helvetica%2C+sans-serif&amp;style[base][fontSmoothing]=antialiased&amp;style[base][fontSize]=16px&amp;style[base][::placeholder][color]=%23aab7c4&amp;style[invalid][color]=%23fa755a&amp;style[invalid][iconColor]=%23fa755a&amp;componentName=card&amp;wait=false&amp;rtl=false&amp;keyMode=test&amp;origin=https%3A%2F%2Fstripe.com&amp;referrer=https%3A%2F%2Fstripe.com%2Fdocs%2Fstripe-js%2Felements%2Fquickstart&amp;controllerId=__privateStripeController0" 
                              title="Secure payment input frame" 
                              style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: none !important; height: 18px;">
                          </iframe>
                      <input class="__PrivateStripeElement-input" 
                          aria-hidden="true" 
                          style="border: none !important; display: none !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
                      <input class="__PrivateStripeElement-safariInput" 
                          aria-hidden="true" 
                          tabindex="-1" 
                          style="border: none !important; display: none !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
                      </div>
                  </div>
            
                  <!-- Used to display form errors. -->
                 <div id="card-errors" role="alert"></div>
                </div>
            
            <p id="pre-pay"> מקדמה:</p>
            <p id="amount">סה"כ לתשלום: </p> 
              <button class="btn btn-runner" id="pay_button">לתשלום</button>
            </form>
        </div>
        <div id="stripe-token-handler" class="is-hidden">Success! Got token: <span class="token"></span></div>

    </div>
</div>
	<script src="{% static 'tour/stripe.js' %}"></script>
    

         <script>
        
        
    	document.getElementById("id_number_adults").onchange = function() {myFunction()};
    	document.getElementById("id_number_child").onchange = function() {myFunction()};

        function myFunction() {
            var adults_num = document.getElementById("id_number_adults").value;
            var childs_num = document.getElementById("id_number_child").value;
            var trip_type = document.getElementById("id_trip_type").value;
            
            var sum = document.getElementById("id_paymentSum");
            var pre = document.getElementById("id_deposit");
            var preLabel =  document.getElementById("pre-pay");
            var payLabel =  document.getElementById("pay_button");
            var totalLabel =  document.getElementById("amount");
            // window.alert("Submit4: " + trip_type);
            if (trip_type == 'C'){
                if (adults_num>0){
                    sum.value = adults_num * 30;
                    pre.value = 30;
                    preLabel.innerHTML = 'מקדמה: £30';
                    payLabel.innerHTML = 'לתשלום: £30';
                    totalLabel.innerHTML =  'סה"כ לתשלום: '+ '£' +  sum.value  ;
                }
            }
            else if (trip_type == 'W'){
                if (adults_num>0){
                    sum.value = adults_num * 30;
                    pre.value = 30;
                    preLabel.innerHTML = 'מקדמה: £30';
                    payLabel.innerHTML = 'לתשלום: £30';
                    totalLabel.innerHTML =  'סה"כ לתשלום: '+ '£' +  sum.value  ;
                }
            }
            else if(trip_type == 'F'){
                sum.value = adults_num * 25 + childs_num * 25;
                pre.value = 30;
                preLabel.innerHTML = 'מקדמה: £30';
                payLabel.innerHTML = 'לתשלום: £30';
                totalLabel.innerHTML =  'סה"כ לתשלום: '+ '£' +  sum.value  ;
            }
        }
        
    </script>
    


{% endblock %}
