{% extends 'tour/base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row d-flex  justify-content-center bg-light text-dark contact "> 
            
        <div class="col-sm-12 col-md-5  ">
            <div class="row">
                <form action="{% url 'tour:contact' %}" method="post" >
                    {% csrf_token %}
                     
                    <table >
                    {{ form.as_p }}
                    </table>
                    <div class="row">    
                        <p>

                           <br> לצערנו לא ניתן ליצור קשר דרך עמוד זה 
                           <br> בגלל ריבוי הודעות הספאם שקיבלנו.
                           <br> ניתן כמובן להשיג אותנו בדרכים אחרות...
                        </p>
                        <!--

                            <button id="contact_us" class="btn btn-runner1">צור קשר</button>
                        -->      
                   </div>
                </form>
            </div>
        </div>
        <div class="col-sm-8 col-md-4 ">
       <div class="row">
          <img class="image_in_site" src="https://cambridgeinhebrew.com/media/Gallery/2018/12/bridge-374048_1920_640x474_1.jpg">
        </div>
         </div>
    </div>
</div>

{% endblock %}
