{% extends 'tour/base.html' %}
{% load static %}

{% block head %}
        


<script src="https://www.google.com/recaptcha/api.js?render={{reCAPTCHA_site_key}}"></script>
<script>
   grecaptcha.ready(function() {
      grecaptcha.execute('{{reCAPTCHA_site_key}}', {action: "/contact_us/"}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
      });
  });
  
 </script>
        
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row d-flex  justify-content-center bg-light text-dark contact "> 
            
        <div class="col-sm-12 col-md-5  ">
            <div class="row">
                <form action="{% url 'tour:contact' %}" method="post" >
                    {% csrf_token %}
                     
                    <table >
                    {{ form.as_p }}
                    </table>
                    <input type="hidden" name="g-recaptcha-response" id='g-recaptcha-response'>
                    <div class="row">    
                        

                            <button id="contact_us" class="btn btn-runner1">צור קשר</button>    
                   </div>

                </form>
            </div>
        </div>
        <div class="col-sm-8 col-md-4 ">
       <div class="row">
          <img class="image_in_site" src="https://cambridgeinhebrew.com/media/Gallery/2018/12/bridge-374048_1920_640x474_1.jpg">
        </div>
         </div>
    </div>
</div>

{% endblock %}
