<!DOCTYPE html>
<html lang="he"
    dir = "rtl">
<head>

</head>
<body>

<div class="row" align="right">

    

    <div class="col-12 success">
      <img src="http://cambridge.django.group/media/Gallery/2018/12/tree.jpg">
      <h3>ההרשמה הסתיימה בהצלחה</h3>
      <p class="lead"><strong> שלום {{first}} {{last}}</strong></p>
      <hr>
      <p>נשמח לראותכם בתאריך {{trip_date}}</p>
      <p>בשעה {{trip_time}}</p>
      <div class="space">
      <p>נתקבל תשלום של {{deposit}}</p>
      <p>יתרה לתשלום {{more_to_pay}}</p>
      </div>
      </p>
      
    </div>
</div>

</body>
</html>
