{% extends 'tour/base.html' %}
{% load static %}

   
	

{% block content %}

<div class="row">
    <div class="col-md-3 success"></div>

    <div class="col-md-6 success">
      <h3>לצערנו אירעה תקלה</h3>
      <p class="lead"><strong> לא נתקבל חיוב</strong></p>
      <p> אנא נסה שוב במידה והתקלה מופיעה שוב, שלח הודעה בצור קשר ונשוב אליך בהקדם</p>
      <p>מספר לקוח: {{client_id}}</p>
      <hr>
      <p></p>
      <p></p>
      <div class="space">
      <p></p>
      <p></p>
      </div>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="{% url  'tour:home'  %}" role="button">בחזרה לדף הבית</a>
      </p>
      
    </div>
    <div class="col-md-3 success"></div>
</div>

{% endblock %}
