{% load static %}

<!--- Connect -->

<div class="container-fluid padding">
<div class="row text-center padding">
    <div class="col-12">
        <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
</div>
</div>

<!--- Footer -->

<footer>
<div class="container-fluid padding">
<div class="row text-center">
    <div class="col-md-4">
        <img src="{% static 'tour/images/w3newbie.png' %}"
        <hr class="light">
        <p>555-555-5555</p>
        <p>cambrigeinhebrew@gmail.com</p>
        <p>Cambrige UK</p>
    </div>
    <div class="col-md-4">
        <hr class="light">
        <h5>Our Hours</h5>
        <hr class="light">
        <p>Monday: 9am-5pm</p>
        <p>Saturday: 10am-5pm</p>
        <p>Sunday: Closed</p>
    </div>
    <div class="col-md-4">
        <hr class="light">
        <h5>Srevices</h5>
        <hr class="light">
        <p>Cambrige UK</p>
        <p>Cambrige UK</p>
        <p>Cambrige UK</p>
    </div>
    <div class="col-12">
        <hr class="light-100">
        <h5>&copy; w3newbie.com</h5>
    </div>
        
</div>
</div>
</footer>

