{% load static %}

<!--- Connect -->


<!--- Footer -->

<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <hr class="light">
        <div class="row social">
               <div class="col-md-4">
                <a class="navbar-brand" href="{% url  'tour:home'  %}"><img src="{% static 'tour/images/logo/logo_cambridge.png' %}">
    <p class="navbar-text navbar-first-line"><b> קיימברידג' בעברית</b><br>סיורים מודרכים בעברית</p>
    </a>
           </div>
           <div class="col-md-8">
           <div class="row">
            <div class="col-xs-1 col-sm-3 col-md-1">
           
                <a href="http://wa.me/447578560505?text=שלום,%20אני%20רוצה%20לשמוע%20פרטים%20על%20סיור%20בקיימברידג'"><i class="fab fa-whatsapp"></i></a>
              </div>
           <div class="col-xs-1 col-sm-3 col-md-1">
                <a target="_blank" href="http://www.facebook.com/Cambridgeinhebrew"><i class="fab fa-facebook"></i></a>
              
            </div>
            <div class="col-xs-1 col-sm-3 col-md-1">
                <a target="_blank" href="https://www.instagram.com/cambridge_beivrit/"><i class="fab fa-instagram"></i></a>
          
           </div>
             </div>
    </div> 
     
         
   
        
        </div>
    </div>
</footer>

 
