{% extends 'tour/base.html' %}
{% load static %}


{% block content %}

   
<div class="container-fluid">
    <div class="row d-sm-flex p-1 bg-light text-dark ">
        <div class="col-md-12 col-lg-7 form">
  
            <form action="" method="post" >

                    {% csrf_token %}
                     
                    <table >
                    {{ form.as_p }}
                    </table>
                                   
              <button id="give_review">שלח משוב</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
