{% extends 'tour/base.html' %}
{% load static %}


{% block content %}



   
<div class="container-fluid">
    <div class="row d-sm-flex p-1 bg-light text-dark d-flex justify-content-center text-right">
        <div class="col-sm-9 col-md-6 col-lg-5 form">
           <div class="row">
            <form action="{% url 'tour:give_review' %}" method="post" >

                    {% csrf_token %}
                     
                    <table >
                    {{ form.as_p }}
                    </table>
               <div class="row">                     
              <button class="btn btn-runner1" id="give_review">שלח משוב</button>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
