{% extends 'tour/base.html' %}
{% load static %}

<!------ Include the above in your HEAD tag ---------->

{% block content %}


<div class="container">
   <div class="container-fluid padding">
   
   
       <div class="row padding link_page">
            
            <div class="col-md-3 col-sm-6 ">
             <a target="_blank" class="nav-link" href="https://askalocalapp.com/London/HE/%d7%a7%d7%99%d7%99%d7%9e%d7%91%d7%a8%d7%99%d7%93%d7%92%d7%b3-%d7%94%d7%9e%d7%a7%d7%95%d7%9d-%d7%a9%d7%99%d7%a4%d7%aa%d7%99%d7%a2-%d7%90%d7%aa%d7%9b%d7%9d/">שאל לונדוני</a>
            </div>
            
            <div class="col-md-3 col-sm-6 ">
             <a target="_blank" class="nav-link" href="https://askalocalapp.com/London/HE/%d7%a7%d7%99%d7%99%d7%9e%d7%91%d7%a8%d7%99%d7%93%d7%92%d7%b3-%d7%94%d7%9e%d7%a7%d7%95%d7%9d-%d7%a9%d7%99%d7%a4%d7%aa%d7%99%d7%a2-%d7%90%d7%aa%d7%9b%d7%9d/">שאל לונדוני</a>
            </div>
            
            <div class="col-md-6 col-sm-6 ">
             <div class="text-right mb-2">כתבה על מקומות מומלצים בקיימברידג'. באתר שאל לונדוני המציע מגון אפשרויות והצעות לטייל ולחוות את לונדון</div>
            </div>
            
            
        </div>
      
      
       <div class="row padding link_page">
            
             <div class="col-md-3 col-sm-6 ">
             <a target="_blank" class="nav-link" href="https://askalocalapp.com/London/HE/%d7%a7%d7%99%d7%99%d7%9e%d7%91%d7%a8%d7%99%d7%93%d7%92%d7%b3-%d7%94%d7%9e%d7%a7%d7%95%d7%9d-%d7%a9%d7%99%d7%a4%d7%aa%d7%99%d7%a2-%d7%90%d7%aa%d7%9b%d7%9d/">שאל לונדוני</a>
            </div>
            
            <div class="col-md-3 col-sm-6 ">
             <a target="_blank" class="nav-link" href="https://askalocalapp.com/London/HE/%d7%a7%d7%99%d7%99%d7%9e%d7%91%d7%a8%d7%99%d7%93%d7%92%d7%b3-%d7%94%d7%9e%d7%a7%d7%95%d7%9d-%d7%a9%d7%99%d7%a4%d7%aa%d7%99%d7%a2-%d7%90%d7%aa%d7%9b%d7%9d/">שאל לונדוני</a>
            </div>
            
            <div class="col-md-6 col-sm-6 ">
             <div class="text-right mb-2">כתבה על מקומות מומלצים בקיימברידג'. באתר שאל לונדוני המציע מגון אפשרויות והצעות לטייל ולחוות את לונדון</div>
            </div>
            
            
        </div>
        
         <div class="row padding link_page">
            
             <div class="col-md-3 col-sm-6 ">
             <a target="_blank" class="nav-link" href="https://askalocalapp.com/London/HE/%d7%a7%d7%99%d7%99%d7%9e%d7%91%d7%a8%d7%99%d7%93%d7%92%d7%b3-%d7%94%d7%9e%d7%a7%d7%95%d7%9d-%d7%a9%d7%99%d7%a4%d7%aa%d7%99%d7%a2-%d7%90%d7%aa%d7%9b%d7%9d/">שאל לונדוני</a>
            </div>
            
            <div class="col-md-3 col-sm-6 ">
             <a target="_blank" class="nav-link" href="https://askalocalapp.com/London/HE/%d7%a7%d7%99%d7%99%d7%9e%d7%91%d7%a8%d7%99%d7%93%d7%92%d7%b3-%d7%94%d7%9e%d7%a7%d7%95%d7%9d-%d7%a9%d7%99%d7%a4%d7%aa%d7%99%d7%a2-%d7%90%d7%aa%d7%9b%d7%9d/">שאל לונדוני</a>
            </div>
            
            <div class="col-md-6 col-sm-6 ">
             <div class="text-right mb-2">כתבה על מקומות מומלצים בקיימברידג'. באתר שאל לונדוני המציע מגון אפשרויות והצעות לטייל ולחוות את לונדון</div>
            </div>
            
            
        </div>
      
    </div>
</div>

{% endblock %}
