{% extends 'tour/base.html' %}
{% load static %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django + Stripe Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://js.stripe.com/v3/"></script>  <!-- new -->
    <script>
            var client_id = '{{ client_id }}';
            var deposit = '{{ deposit }}';
    </script>
    <script src="{% static 'tour/stripe.js' %}" data-rel-js></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


  <!-- CSS for each example: 
    <link rel="stylesheet" type="text/css" href="{% static 'tour/stripe_nice.css' %}" data-rel-css="" />
-->
  <script>
  gtag('event', 'page_view', {
    'send_to': 'AW-924651236',
    'value': 'replace with value',
    'items': [{
      'origin': 'replace with value',
      'destination': 'replace with value',
      'start_date': 'replace with value',
      'end_date': 'replace with value',
      'google_business_vertical': 'travel'
    }]
  });
</script>

{% endblock %}

{% block content %}

{% endblock %}