{% extends 'tour/base.html' %}
{% load static %}

   
	

{% block content %}
<div class="container-fluid">

    <div class="row d-flex justify-content-center text-right">
    
        <div class="col-md-6 ">
        <h3><font color="blue"> קיימברידג' בעברית - מדיניות פרטיות</font></h3>
          <hr>
         <h3>הפרטיות שלכם חשובה לנו</h3>
          <hr>
          <p class="lead"><strong>שם החברה קיימברידג׳ בעברית. </strong></p>
          <p>כתובת מייל info@cambridgeinhebrew.com</p>

          <div class="space">
          <p>החברה מספקת שירותי סיורים מודרכים בקיימברידג'.</p>
          </div>
          <div class="space">
          <p>אין חובה לספק מידע על פי חוק, אך ללא המידע לא יהיה ניתן לקבל את השירותים.</p>
          <p>אנחנו אוספים את המידע שמסופק לנו בזמן השימוש בשירות שלנו בלבד.</p>
          <p><strong>המידע אותו אנו אוספים בידיעת המשתמש הוא כתובת המייל, טלפון ושם המשתמש.</strong></p>
          <p>אנחנו יכולים לשלוח התראות למכשיר הסלולרי, או לכתובת דואר אלקטרונית, לשלוח מסרונים ומסרים, להתקשר ולעדכן על מוצרים ושירותים הקשורים לשירות.</p>
          </div>
          <hr>
          <div class="space">
          <p>איננו אוספים פרטי אשראי והם אינם נשמרים זמנית באתר, הם מנוהלים ומעוברים בצורה מוצפנת על ידי. Stripe</p>
          <p>נאסף מידע על ידי גורם שלישי google analytics למעקב אחר סטטיסטיקה כגון IP, זמן גלישה באתר ודפים נבחרים.</p>
          </div>
          <hr>
          <div class="space">
          <p>אנחנו מדווחים על אירועי אבטחת מידע רק לרשות המוסמכת, ופועלים בהתאם להנחיותיה. המשתמשים לא יקבלו דיווח אלא אם הרשות המוסמכת תורה לנו.</p>
          <p>במקרה של פגיעה בפרטיות המידע
קצין הפרטיות שלנו יקבל את התלונות ויבחן אותן.</p>
          
          </div>
      

          
        </div>
    </div>
</div>

{% endblock %}

