{% extends 'tour/base.html' %}
{% load static %}

{% block head %}
   
	
{% endblock %}

{% block content %}


{% if request.user.is_authenticated %}
<div class="container-fluid">
  <div class="row d-flex bg-light text-dark contact">
  <form method="get" action="{% url 'tour:reportView' %}">
    <p>תאריך התחלה<input type="text"       value={{filter_start}}       name="filter_start"/></p>
    <p>תאריך סיום<input  type="text"       value={{filter_end}}         name="filter_end"/></p>
    <p>פילטר מדריך<input type="checkbox"   value={{filter_check_guide}} name="filter_check_guide"/></p>
    <p>מדריך<input        type="text"       value={{filter_guide}}       name="filter_guide"/></p>
    
    <p>מיון<input type="text" value={{orderby}} name="orderby"/></p>
    <button type="submit" name="submit" value="report">HTML</button>
    <button type="submit" name="submit" value="pdf">Show PDF</button>
    <button type="submit" name="submit" value="send_pdf">Send PDF</button>
</form>
    </div>
{% if report_list.report %}
    <div class="row p-1 bg-dark text-white">
     <h5 class="col-sm p-1 text-center">תאריך</h5>
     <h5 class="col-sm p-1 text-center">מדריך</h5>
     <h5 class="col-sm p-1 text-center">סוג סיור</h5>
     <h5 class="col-sm p-1 text-center">מבוגרים</h5>
     <h5 class="col-sm p-1 text-center">ילדים</h5>
     <h5 class="col-sm p-1 text-center">מקדמה</h5>
     <h5 class="col-sm p-1 text-center">הכנסה</h5>
     <h5 class="col-sm p-1 text-center">הוצאה מדריך</h5>
     <h5 class="col-sm p-1 text-center">הוצאה נוספת</h5>
     <h5 class="col-sm p-1 text-center">נטו</h5>
     {% if report_list.filter_check_guide %}
     <h5 class="col-sm p-1 text-center">סכום להעביר ליעל</h5>
      {% endif%}
    </div>
    
    <div class="row border border-right-0 border-bottom-0 text-right">
    {% for entry in report_list.report %}
    <div class="day col-sm  border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
         <span> {{  entry.trip_date }}</span>
    </div>
    <div class="day col-sm border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
         <span> {{  entry.trip_guide }}</span>
    </div>
    <div class="day col-sm border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
         <span> {{  entry.trip_text }}</span>
    </div>
    
    <div class="day col-sm border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
         <span> {{  entry.total_people }}</span>
    </div>
    <div class="day col-sm  border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light">
         <span> {{  entry.total_children }}</span>
    </div>
    <div class="day col-sm  border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light">
        <span> {{  entry.total_deposit }}</span>
    </div>
     <div class="day col-sm border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
         <span> {{  entry.total_gross }}</span>
    </div>
    <div class="day col-sm  border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light">
         <span> {{  entry.total_guide_exp }}</span>
    </div>
    <div class="day col-sm  border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
        <span> {{  entry.other_expense }}</span>
    </div>
     <div class="day col-sm border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
        <span> {{  entry.total_neto }}</span>
    </div>
    {% if report_list.filter_check_guide %}
     <div class="day col-sm  border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
        <span> {{  entry.guide_payback }}</span>
    </div>
    {% endif %}
    <div class="w-100"></div>  
    {% endfor %}
     </div>
 </div>
{% else %}
    <p>סליחה אבל אין סיורים....</p>
{% endif %}
 </div>
{% endif %}
{% endblock %}
<!--<li><a href="{% url  'tour:detail' tour.id %}">{{ tour.trip_date }} {{ tour.trip_type }}</a></li>-->