{% extends 'tour/base.html' %}
{% load static %}

<!------ Include the above in your HEAD tag ---------->

{% block content %}
<div class="container">
                    
   <div class="container-fluid padding">
       <div class="row padding">
                   
          {% for review in reviewes %}
                    
            <div class="col-md-3 col-sm-6 review_page">
            <div class="review_header">
            <div class="text-left mb-2"><i><b>{{ review.create_date|date:"d.m.Y" }}</b></i></div>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
			    <div class="text-right mb-2"><i><b>{{ review.title }}</b></i></div>
			    </div>
			    <div class="text-right mb-2">{{ review.review_text }}</div>
			     <i class="fa fa-quote-left" aria-hidden="true"></i>
			     <div class="text-left mb-2"><i><b>{{ review.first_name }}</b></i></div>
		    </div>
       	{% endfor %}
            
        </div>
       <div class="row padding contact">
         <a href="{% url  'tour:give_review'  %}"><button type="button" class="btn btn-runner">איך היה בסיור? להוספת המלצה</button></a>
        </div>
    </div>
</div>

{% endblock %}
