{% extends 'tour/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">

    <div class="row d-flex justify-content-center text-right">
    
        <div class="col-md-6 ">
   
            <p> תודה שרכשת את סיור השמע העצמאי בקיימברידג'</p>
        <p>     אפשר להתחיל להתרגש 🙂</p>
             
        <p>     הוראות כניסה למדריך </p>
             <p class="lead"><strong> שם משתמש:  {{username}}</strong></p>
             <p class="lead"><strong> סיסמה:  {{password}}</strong></p>
             <p class="lead"> 
             <a href="{{link}}"> כניסה למדריך</a>
            </p>
             <p><b> הוראות אלו נשלחו גם במייל </b></p>
              
        <p>     לפני שמתחילים עוד כמה דברים קטנים:</p>
             
        <p> הקישור למדריך בתוקף עד {{final_day}} </p>
        
        <p>  אם נתקלתם בבעיה ניתן ליצור קשר בווטסאפ 
                <a href="http://wa.me/972547223905?text=שלום,%20אני%20רוצה%20לשמוע%20פרטים%20על%20סיור%20בקיימברידג'"><i class="fab fa-whatsapp"></i></a>             
        </p> 
           <p>  
             המדריך הדיגיטלי, מפת גוגל, ופלייליסט האודיו הינם לשימוש אישי בלבד של רוכש/ת המוצר.
             אין להעביר, לשכפל, להעלות לאינטרנט, להפיץ או למסור את הקבצים או הקישורים לכל צד שלישי.
             כל העברה או הפצה מהוות הפרת זכויות יוצרים ויפעלו בניגוד לחוק.
             אנו סומכים עליך ומודים לך על רכישה הוגנת תומכת בעסק קטן ועצמאי ❤️
            </p> 
            <p> בהצלחה ובהנאה</p>
            <p>יעל </p>
              
          
        </div>
    </div>
</div>

{% endblock %}
