{% extends 'tour/base.html' %}

{% load static %}


{% block content %}
<div class="container-fluid">

    <div class="row d-flex justify-content-center text-right">
    
        <div class="col-md-6 ">
          <p>
            תודה! המדריך החינמי נשלח אליכם למייל 🎧
          </p>   
     <p>
               בנתיים חכו רגע! יש לנו הצעה מיוחדת עבורכם
              </p> <p>
               למה לא לשדרג ולהפוך את הביקור לחוויה מושלמת? 
              </p> <h4>
               קבלו את הסיור הדיגיטלי המלא בהנחה של 30% למשך 24 שעות
              </h4>        <p><b>
            
                  &#x23F0; המחיר הרגיל 20 פאונד ועכשיו -> 14 פאונד בלבד 
</b></p> <p>
קוד קופון ל24 שעות: CIH30
</p> <p></p>
<div style="text-align: center;">
    <a href="{{link}}" target="_blank" class="btn-blue">לרכישה</a>
  </div>
             <h3>      מה כולל הסיור המלא?</h3>
             <ul>
                <li>&#9679;&nbsp;&nbsp;&nbsp;&nbsp;<b>סיור מעגלי בעשר נקודות מומלצות לביקור:</b> אתרים שהם חובה עם הסברי שמע בכל נקודה.</li>
                <li>&#9679;&nbsp;&nbsp;&nbsp;&nbsp;<b>המלצות:</b> ללינה, מסעדות וחנויות  איכותיות</li>
                <li>&#9679;&nbsp;&nbsp;&nbsp;&nbsp;<b>נקודות צילום</b> מושלמות לאינסטגרם.</li>
                <li>&#9679;&nbsp;&nbsp;&nbsp;&nbsp;<b>מפת גוגל</b> עם ציוני מקום</li>


             </ul>
             <p>
             הסיור הדיגיטלי המלא מציע לכם חוויה מעמיקה יותר עם המלצות ואתרים שנבחרו מניסיון אישי 
            </p> <p>
             כך תוכלו לחסוך זמן וטרחה ולהנות מהעיר בצורה הטובה ביותר.
            </p>                       
                <h3>
               הצטרפו אלי לחוויה בלתי נשכחת בעיר!
                </h3>
                 <p></p>
                 <div style="text-align: center;">
                    <a href="{{link}}" target="_blank" class="btn-blue">לרכישה</a>
    
                  </div>
        </div>
    </div>
</div>

{% endblock %}
