{% extends 'tour/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">

    <div class="row d-flex justify-content-center text-right">
    
        <div class="col-md-6 ">
          <p>
            תודה שנרשמתם לקבלת מדריך הטעימה שלי לקיימברידג 🎧
          </p> <p>
           <a href="{{link_free}}">הכניסה למדריך בלחיצה על הקישור</a>
           </p>
  
     <p>
               עצרו רגע!
              </p> <p>
               למה לא לשדרג ולהנות מהטיול שלכם הרבה יותר? 
              </p> <p>
               רכשו עכשיו את הסיור המלא
               המציע לכם חוויה מעמיקה יותר עם המלצות ואתרים שנבחרו מניסיון אישי 
              </p> <p>
               כך תוכלו לחסוך זמן וטרחה ולהנות מהעיר בצורה הטובה ביותר.
             </p>
             <h3>      מה כולל הסיור המלא?</h3>
             <ul>
                <li>&#9679;&nbsp;&nbsp;&nbsp;&nbsp;<b>סיור מעגלי בעשר נקודות מומלצות לביקור:</b> אתרים שהם בגדר חובה עם הסברי שמע בכל נקודה.</li>
                <li>&#9679;&nbsp;&nbsp;&nbsp;&nbsp;<b>המלצות:</b> ללינה, מסעדות וחנויות  איכותיות</li>
                <li>&#9679;&nbsp;&nbsp;&nbsp;&nbsp;<b>טיפים חשובים:</b> דרכי תחבורה, מזג אוויר ועוד</li>
                <li>&#9679;&nbsp;&nbsp;&nbsp;&nbsp;<b>נקודות צילום</b> מושלמות לאינסטגרם.</li>
                <li>&#9679;&nbsp;&nbsp;&nbsp;&nbsp;<b>מפת גוגל</b> עם ציוני מקום</li>
             </ul>
               <h3><b>למי מתאים הסיור?</b></h3>
               <p>
               החל מגיל 10 ילדים מוצאים את הסיור הזה מעניין.
              </p> <p>
               שילוב של הליכה בחוץ במדשאות, גשרים לאורך הנהר וקולג’ים עתיקים בסגנון “הארי פוטר”.
             </p>
             <p>
               למבוגרים הסיור מעניין מאד, ההליכה היא מישורית אך יכולה להיות ארוכה למי שמתקשה בהליכה.
              </p> <p>
               אין אפשרות לשלב תחבורה במהלך המסלול.
             </p>
            
                <h3>
               הצטרפו אלי לחוויה בלתי נשכחת בעיר!
                </h3>
                <p><b>
                    וכל זאת {{payment}} פאונד בלבד
               הקישור לסיור תקף {{last_day}} יום מרגע הרכישה
               </b></p>
         <p>
            <a href="{{link}}">לחצו כאן לרכישת המדריך</a>
             </p>
               <p>בברכה</p>
              <p>יעל גתי</p>
          
        </div>
    </div>
</div>

{% endblock %}
