{% extends 'tour/base.html' %}
{% load static %}

{% block head %}

  <!-- CSS for each example: -->
  <link rel="stylesheet" type="text/css" href="{% static 'tour/report.css' %}" data-rel-css="" />
{% endblock %} 

{% block content %}


{% if request.user.is_superuser %}
<div class="container-fluid">
<!--Check for new tours change status from new to confirm-->
{% if new_tours %}

<div class="row p-1 bg-light text-blue">
    <p>סיורים חדשים</p>
     </div>
<table>

    <tr class="title">
      <td>id</td>
      <td>תאריך סיור</td>
      <td>שעה</td>
      <td>מדריך</td>
      <td>סוג סיור</td>
      <td>נוצר בתאריך</td>
      <td>אישור</td>
    </tr>
    
    {% for entry in new_tours %}
     <tr class="data">
     <td><a href="{% url 'tour:clientview' entry.id %}">{{  entry.id }}</a></td>
     <td>{{  entry.trip_date|date:'d.m.Y' }}</td>
     <td>{{  entry.trip_time|date:'H:i'  }}</td>
     <td>{{  entry.guide.user_name }}</td>
     <td>{{  entry.ourTour.trip_abc_name }}</td>
     <td>{{  entry.create_date|date:'d.m.Y' }}</td>
     <td><a href="{% url  'tour:tour_confirm' entry.id %}" class="btn btn-tour reg-btn"> אישור סיור</a></td>
     </tr>
    {% endfor %}
 </table>  
{% else %}
    <div class="row p-1 bg-light text-blue">
    <p>אין סיורים חדשים</p>
     </div>
{% endif %}


<!--Check for tours for completion
    Change status to complete
    Create invoice
    Send email to client with invoice and link for feedback
 
-->

{% if complete_tours %}
<div class="row p-1 bg-light text-blue">
    <p>סיורים שהסתיימו</p>
     </div>
<table>
    <tr class="title">
      <td>id</td>
      <td>תאריך</td>
      <td>שעה</td>
      <td>מדריך</td>
      <td>סוג סיור</td>
      <td>אישור</td>
    </tr>
    
    {% for entry in complete_tours %}
     <tr class="data">
     <td><a href="{% url 'tour:clientview' entry.id %}">{{  entry.id }}</a></td>
     <td>{{  entry.trip_date|date:'d.m.Y' }}</td>
     <td>{{  entry.trip_time|date:'H:i' }}</td>
     <td>{{  entry.guide.user_name }}</td>
     <td>{{  entry.ourTour.trip_abc_name }}</td>
     <td><a href="{% url  'tour:tour_complete' entry.id %}" class="btn btn-tour reg-btn"> סיום סיור</a></li>
     </tr>
    {% endfor %}
</table>  
{% else %}
    <div class="row p-1 bg-tdght text-blue">
    <p>אין סיורים ממתינים לסיום</p>
     </div>
{% endif %}

<!--Check for new contacts
    Change status to confirm - once they answer the message
-->

{% if check_contact_spam %}
<div class="row p-1 bg-light text-blue">
    <p>האם הודעת זבל</p>
     </div>
     <table>
    <tr class="title">
      <td>id</td>
      <td>תאריך</td>
      <td>שם פרטי</td>
      <td>שם משפחה</td>
      <td>דואל</td>
      <td  class="more_text">הודעה</td>
      <td>אישור</td>
      <td>מחק</td>
    </tr>
    
    {% for entry in check_contact_spam %}
     <tr class="data">
     <td>{{  entry.id }}</td>
     <td>{{  entry.create_date|date:'d.m.Y' }}</a></td>
     <td>{{  entry.first_name }}</td>
     <td>{{  entry.last_name }}</td>
     <td>{{  entry.email }}</td>
     <td  class="more_text">{{  entry.text }}</td>
     <td><a href="{% url  'tour:contact_not_spam' entry.id %}" class="btn btn-tour reg-btn">לא ספאם</a></td>
     <td><a href="{% url  'tour:contact_spam' entry.id %}" class="btn btn-tour reg-btn">ספאם</a></td>
     
     </tr>
    {% endfor %}
   <table>
{% else %}
    <div class="row p-1 bg-light text-blue">
    <p>אין הודעות זבל</p>
     </div>
{% endif %}


{% if new_contact %}
<div class="row p-1 bg-light text-blue">
    <p>יצרו קשר ומחכים למענה</p>
     </div>
     <table>
    <tr class="title">
      <td>id</td>
      <td>תאריך</td>
      <td>שם פרטי</td>
      <td>שם משפחה</td>
      <td>דואל</td>
      <td  class="more_text">הודעה</td>
      <td>אישור</td>
    </tr>
    
    {% for entry in new_contact %}
     <tr class="data">
     <td>{{  entry.id }}</td>
     <td>{{  entry.create_date|date:'d.m.Y' }}</a></td>
     <td>{{  entry.first_name }}</td>
     <td>{{  entry.last_name }}</td>
     <td>{{  entry.email }}</td>
     <td  class="more_text">{{  entry.text }}</td>
     <td><a href="{% url  'tour:contact_confirm' entry.id %}" class="btn btn-tour reg-btn">יצרתי קשר</a></td>
     </tr>
    {% endfor %}
   <table>
{% else %}
    <div class="row p-1 bg-light text-blue">
    <p>אין פניות חדשות</p>
     </div>
{% endif %}


<!--Check for new contacts
    Change status to confirm - once they answer the message
-->

{% if new_review %}
<div class="row p-1 bg-light text-blue">
    <p>משובים חדשים</p>
     </div>
     <table>
    <tr class="title">
      <td>id</td>
      <td>תאריך</td>
      <td>שם פרטי</td>
      <td>כותרת</td>
      <td  class="more_text">הודעה</td>
      <td>אישור</td>

    </tr>
    
    {% for entry in new_review %}
     <tr class="data">
     <td>{{  entry.id }}</td>
     <td>{{  entry.create_date|date:'d.m.Y' }}</td>
     <td>{{  entry.first_name }}</td>
     <td>{{  entry.title }}</td>
     <td class="more_text">{{  entry.review_text }}</td>
     <td><a href="{% url  'tour:review_confirm' entry.id %}" class="btn btn-tour reg-btn">אישור משוב</a></td>
     </tr>
    {% endfor %}
   </table>
{% else %}
    <div class="row p-1 bg-light text-blue">
    <p>אין משובים חדשים</p>
     </div>
{% endif %}


<!-- show for future tours
-->
{% if next_tours %}

<div class="row p-1 bg-light text-blue">
    <p>הסיורים הבאים</p>
     </div>
 {% for entry in next_tours %}     
<table>
    <tr class="title">
      <td>id</td>
      <td>תאריך סיור</td>
      <td>שעה</td>
      <td>מדריך</td>
      <td>סוג סיור</td>
      <td>נוצר בתאריך</td>
    </tr>
    
   
     <tr class="data">
     <td><a href="{% url 'tour:clientview' entry.id %}">{{ entry.id }}</a></td>
     <td>{{ entry.trip_date|date:'d.m.Y' }}</td>
     <td>{{ entry.trip_time|date:'H:i'  }}</td>
     <td>{{  entry.guide.user_name }}</td>
     <td>{{  entry.ourTour.trip_abc_name }}</td>
     <td>{{ entry.create_date|date:'d.m.Y' }}</td>
     </tr>
     </table>
     
      <table>
      <tr class="title">
      <td>client id</td>
     <td>שם פרטי</td>
     <td>שם משפחה</td>
     <td>ספר טלפון</td>
     <td>דואר אלקטרוני</td>
     <td>מבוגרים</td>
     <td>ילדים</td>
     <td>מקדמה</td>
     <td>סה"כ</td>
     <td>הודעה</td>
     <td>מצא אותנו</td>
      </tr>
      {% for client in entry.clients_set.all %}
      {% if client.status == 'a' %}
          <tr class="data">
      {% else %}
       <tr class="data_cancel">
       {% endif %}
     <td>{{ client.id }}</td>
     <td>{{ client.first_name }}</td>
     <td>{{ client.last_name }}</td>
     <td>{{ client.phone_number }}</td>
     <td>{{ client.email }}</td>
     <td>{{ client.number_of_people }}</td>
     <td>{{ client.number_of_children }}</td>
     <td>{{ client.pre_paid }}</td>
     <td>{{ client.total_payment }}</td>
     <td>{{ client.text }}</td>
     <td>{{ client.get_found_us_display }}</td>
      </tr>
       {% endfor %}
      </table>
     <div class="row p-1 bg-light text-blue">
    <p></p>
     </div>
    {% endfor %}
   
{% else %}
    <div class="row p-1 bg-light text-blue">
    <p>אין סיורים בעתיד</p>
     </div>
{% endif %}

<!-- show for future tours
-->
{% if next_vacations %}
<div class="row p-1 bg-light text-blue">
    <p>החופשות הבאות הבאים</p>
     </div>
<table>
    <tr class="title">
      <td>id</td>
      <td>מדריך</td>
      <td>תאריך התחלה</td>
      <td>תאריך סיום</td>
     
    </tr>
    
    {% for entry in next_vacations %}
     <tr class="data">
     <td>{{ entry.id }}</td>
     <td>{{ entry.get_guide_vacation_display }}</td>
     <td>{{ entry.vac_start_date|date:'d.m.Y' }}</td>
     <td>{{ entry.vac_end_date|date:'d.m.Y' }}</td>
     
     </tr>
    {% endfor %}
   </table>
{% else %}
    <div class="row p-1 bg-light text-blue">
    <p>אין חופשות בעתיד</p>
     </div>
{% endif %}

 </div>
{% endif %}
{% endblock %}

