<!--- Meet the team -->

<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4">Meet the Team</h1>
    </div>
    <hr>
</div>
</div>
<!--- Cards -->

<div class="container-fluid padding">
<div class="row padding">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'tour/images/team1.png' %}">
            <div class="card-body">
                <h4 class="card-title">Jhon Doe</h4>
                <p class="card-text">Jhon is an Internet.</p>
                <a href="#" class="btn btn-outline-secondary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'tour/images/team2.png' %}">
            <div class="card-body">
                <h4 class="card-title">Marry Joe</h4>
                <p class="card-text">Jhon is an Internet.</p>
                <a href="#" class="btn btn-outline-secondary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'tour/images/team3.png' %}">
            <div class="card-body">
                <h4 class="card-title">Phil Hoe</h4>
                <p class="card-text">Jhon is an Internet.</p>
                <a href="#" class="btn btn-outline-secondary">See Profile</a>
                
            </div>
        </div>
    </div>
</div>
</div>

<!--- Two Column Section -->


<div class="container-fluid padding">
<div class="row padding">
    <div class="col-lg-6">
        <h2>Our Philosophy</h2>
        <p> This is a peragraph</p>
        <p> This is a peragraph</p>
        <br>
        
    </div>
    <div class="col-lg-6">
        <img src="{% static 'tour/images/bootstrap2.png' %}" class="img-fluid">
</div>

</div>