{% extends 'tour/base.html' %}
{% load static %}

{% block head %}

  <!-- CSS for each example: -->
  <link rel="stylesheet" type="text/css" href="{% static 'tour/report.css' %}" data-rel-css="" />
{% endblock %} 

{% block content %}


{% if request.user.is_authenticated %}
<div class="container-fluid">
  <div class="row d-flex bg-light text-dark contact">
      <form action="{% url 'tour:trip_view' %}" method="post" >
                        {% csrf_token %}
                         
                        <table >
                        {{ form.as_p }}
                        </table>
                        <div class="row">          
                       <button id="rep_html"   class="btn btn-runner1" value="rep_html">צור דוח</button>
                       </div>
       </form>
  
   </div>
{% if report %}

    <ul class="title">
      <li>trip id</li>
      <li>תאריך</li>
      <li>שעה</li>
      <li>מדריך</li>
      <li>סוג סיור</li>
      <li>מבוגרים</li>
      <li>ילדים</li>
    </ul>
    
    {% for entry in report %}
     <ul class="data">
     <li><a href="{% url 'tour:clientview' entry.trip_id %}">{{  entry.trip_id }}</a></li>
     <li>{{  entry.trip_date }}</li>
     <li>{{  entry.trip_time }}</li>
     <li>{{  entry.trip_guide }}</li>
     <li>{{  entry.trip_text }}</li>
     <li>{{  entry.total_people }}</li>
     <li>{{  entry.total_children }}</li>
     </ul>
    {% endfor %}
   
{% else %}
    <div class="row p-1 bg-dark text-white">
    <p>סליחה אבל אין סיורים....</p>
     </div>
{% endif %}
 </div>
{% endif %}
{% endblock %}
